* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  margin: 0;
}

h1, h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;  
}

h1 {
  font-size: 2em;
  font-size: 8vmin;
  text-align: center;
  text-shadow: 5px 5px 5px #7B1E7A;
}
h2 {
  text-align: center;
}
.pics-inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 200px;
}
.pics-input {
  width: auto;
}
.pics-input label {
  display: block; 
}
.pics-input input {
  width: 100%;
  height: 3rem;
  padding: 0.5rem 0.2rem;
  font-size: 1.2rem;
  border: none;
  color: #333;
  border: 1px solid rgba(0,0,0,0.2);
}

.pics-input input[type=color] {
  visibility: hidden;
  position:absolute;
  height: 0;
  width: 0;
}

.pics-input-color {
  height: 3rem;
  width: 100%;
  padding: 0.5rem 0.2rem;
  font-size: 1.2rem;
  border: 1px solid rgba(0,0,0,0.2);
}
.pics-input .optional {
  display: block;
  font-size: 12px;
  margin-top: 5px;
  color: #555;
  opacity: 0.9;
}
.pics-url {
  border: 1px solid #eee;
  background: rgba(255,255,255,0.6);
  padding: 0.5rem 0.2rem;
  text-align: center;
  font-size: 1.2rem;
  height: 3rem;
  font-weight: bold;
  color: #7B1E7A;
  margin: 12px 0;
}
.pics-preview {
  margin: 10px;
  min-height: 500px;
  text-align: center;
}
.pics-preview img {
  max-width: 100%;
}
.pics-display {
  flex:2;
  padding: 15px 0;
  min-width: 300px;
  overflow-x: scroll;
}
.pics-container {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 10px;
}
/* blocks */
.pics-header {
  background-color: #F9564F;
  background-image: linear-gradient(0deg, #7B1E7A, #F9564F);
  color: #f5f5f5;
  padding: 15px 0;
}

.pics-description {
  background-color: #ff5a5f; 
  color: #f5f5f5;  
  padding: 15px 0;
  font-weight: 200;
}
.pics-try {
  background-color: #f5f5f5;
  color: #333;
  padding: 15px 0; 
}
.pics-try-form {
  display: flex;
  flex-wrap: wrap;
}
.pics-footer {
  background-color: #0C0A3E;
  color: #f5f5f5;
  padding: 20px 0;
}
.pics-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pics-social-list li {
  display: inline-block;
  margin-right: 20px;
}
.pics-social-list a {
  color: #f5f5f5;
  text-decoration: none;
}
.pics-social-list a:hover {
  color: #ff5a5f;
}
.pics-about {
  padding: 50px 10px;
  background: #7B1E7A;
  color: #f5f5f5;
  font-weight: 200;
}
.pics-about li {
  margin-bottom: 0.8rem;
}

/*
$color1: #087e8b; //rgba(8, 126, 139, 100)
$color2: #ff5a5f; //rgba(255, 90, 95, 100)
$color3: #3c3c3c; //rgba(60, 60, 60, 100)
$color4: #f5f5f5; //rgba(245, 245, 245, 100)
$color5: #c1839f; //rgba(193, 131, 159, 100)
*/